%title-h2 {
  font-size: 20px;
  line-height: 30px;
  color: $primary-color-text;
  font-family: $font-MontserratAlternates-ExtraBold;
}

@media (min-width: 768px) {
  %title-h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 1200px) {
  %title-h2 {
    font-size: 48px;
    line-height: 60px;
  }
}
