$font-Montserrat-Bold:  'Montserrat-Bold', sans-serif;
$font-MontserratAlternates-Bold:  'MontserratAlternates-Bold', sans-serif;
$font-MontserratAlternates-ExtraBold:  'MontserratAlternates-ExtraBold', sans-serif;
$font-MontserratAlternates-Light:  'MontserratAlternates-Light', sans-serif;
$font-MontserratAlternates-Medium:  'MontserratAlternates-Medium', sans-serif;
$font-MontserratAlternates-Regular:  'MontserratAlternates-Regular', sans-serif;
