$font-Montserrat-Bold:  'Montserrat-Bold', sans-serif;
$font-MontserratAlternates-Bold:  'MontserratAlternates-Bold', sans-serif;
$font-MontserratAlternates-ExtraBold:  'MontserratAlternates-ExtraBold', sans-serif;
$font-MontserratAlternates-Light:  'MontserratAlternates-Light', sans-serif;
$font-MontserratAlternates-Medium:  'MontserratAlternates-Medium', sans-serif;
$font-MontserratAlternates-Regular:  'MontserratAlternates-Regular', sans-serif;

$primary-color-text: #222222;
$secondary-color-text: #1b202a;
$dark-color-text: #000000;
$light-color-text: #6b6f7a;
$light-color-text_backgound: #dbdbdb;
$color-text-forma: #a2a2a2;
$color-text-white: #ffffff;
$color-text-sign:#5d6066;
$color-text_background: #00eaff;
$color-text-meet: #f9ae23;
$background-color-btn_form: #ff6b08;
$background-color-btn: #ff702a;
