.form {
  background-color: $color-text-white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-filter: drop-shadow(0px 12px 35px rgba(121, 139, 188, 0.48));
  filter: drop-shadow(0px 12px 35px rgba(121, 139, 188, 0.48));
}

.form,
.form-contaimer {
  width: 260px;
}

.form__item {
  width: 225px;
  background-color: $color-text-white;

  * {
    margin-left: 5px;
  }

  button {
    @extend%size-form-item;
    background-color: $background-color-btn_form;
    -webkit-filter: drop-shadow(0px 2px 5px rgba(255, 107, 8, 0.59));
    filter: drop-shadow(0px 2px 5px rgba(255, 107, 8, 0.59));
    border: none;
    color: $color-text-white;
    font-size: 16px;
    letter-spacing: 0px;
    font-family: $font-MontserratAlternates-ExtraBold;
    font-weight: 800;
    margin-bottom: 26px;
    cursor: pointer;
  }
}

.form__title {
  font-size: 16px;
  line-height: 20px;
  color: $dark-color-text;
  font-family: $font-MontserratAlternates-ExtraBold;
  font-weight: 800;
  margin: 20px 0 14px 5px;
}

.form__text {
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 18px;
  color: $dark-color-text;
  font-family: $font-MontserratAlternates-Light;
  font-weight: 300;
  margin-bottom: 12px;
}

input {
  @extend %size-form-item;
  border: 0.83px solid $color-form-border;
  margin-bottom: 12px;
  padding-left: 15px;
  font-size: 14px;
  font-family: $font-MontserratAlternates-Medium;
  font-weight: 500;

  &:nth-child(5) {
    margin-bottom: 20px;
  }
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: $color-text-forma;
  font-family: $font-MontserratAlternates-Medium;
  font-weight: 500;
}

::-moz-placeholder {
  font-size: 14px;
  color: $color-text-forma;
  font-family: $font-MontserratAlternates-Medium;
  font-weight: 500;
}

:-ms-input-placeholder {
  font-size: 14px;
  color: $color-text-forma;
  font-family: $font-MontserratAlternates-Medium;
  font-weight: 500;
}

::-ms-input-placeholder {
  font-size: 14px;
  color: $color-text-forma;
  font-family: $font-MontserratAlternates-Medium;
  font-weight: 500;
}

::placeholder {
  font-size: 14px;
  color: $color-text-forma;
  font-family: $font-MontserratAlternates-Medium;
  font-weight: 500;
}

.form__btm {
  text-align: center;
  font-size: 13px;
  line-height: 37px;
  font-family: $font-MontserratAlternates-Regular;
  padding-bottom: 19px;

  a {
    text-decoration: none;
    color: $color-text-sign;
  }
}
