@media (min-width: 768px) {
  .interest-offer.container {
    width: 700px;
  }

  .interest__title {
    margin-bottom: 36px;
    margin-top: 48px;
    text-align: center;
  }

  .interest__descr {
    font-size: 18px;
    line-height: 25px;
    max-width: 450px;
    text-align: center;
    margin: 0 auto 40px;
    padding-top: 50px;
  }

  .interest__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 22px;
  }

  .interest__item {
    max-width: 180px;
  }

  .interest {
    width: 700px;
    box-shadow: -19px 19px #edf0f2;
  }

  .inner-shadow {
    box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16);
  }

  .interest-container {
    max-width: 590px;
    margin: 0 auto;

    &::before {
      right: 25px;
      bottom: 56px;
      width: 311px;
      background-image: url(../images/map.png);
    }
  }

  .interest__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  .interest-compare {
    max-width: 250px;
  }

  .interest-compare__desr {
    margin-left: 0;
    margin-bottom: 12px;
  }

  .interest-compare__list {
    padding-bottom: 56px;
    margin-bottom: 0px;
    margin-left: 0;
  }

  .offer__title {
    margin-bottom: 30px;
    text-align: center;
    padding-top: 50px;
  }

  .offer__list {
    width: 510px;
    margin-left: 40px;
    margin-bottom: 44px;
  }

  .offer__item {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .interest-offer.container {
    width: 1170px;
  }

  .box-interest-offer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 142px;
  }

  .interest__title {
    max-width: 480px;
    margin-bottom: 76px;
    margin-top: 90px;
    text-align: left;
  }

  .offer {
    width: 445px;
  }

  .offer__list {
    width: 405px;
    margin-left: 40px;
    margin-bottom: 0;
  }

  .offer__item {
    font-size: 18px;
    line-height: 20px;
  }

  .offer__title {
    margin-bottom: 26px;
    text-align: left;
    margin-left: 36px;
    padding-top: 0;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .interest-container::before {
    background-size: 312px 193px;
    background-image: url(../images/map@2x.png);
  }
}

@media (min-resolution: 192dpi) and (max-width: 767px) {
  .interest-container::before {
    background-size: 272px 193px;
    background-image: url(../images/map-gray@2x.png);
  }
}
